
<footer id="footer" class="footer bg-dark text-light py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h5>About Pneucon</h5>
				<p>Pneucon is a leading provider of industrial automation solutions, offering innovative products and services worldwide.</p>
			</div>
			<div class="col-md-4">
				<h5>Quick Links</h5>
				<ul class="list-unstyled">
					<li><a href="#" class="text-light">Home</a></li>
					<li><a href="#" class="text-light">Products</a></li>
					<li><a href="#" class="text-light">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5>Contact Us</h5>
				<ul class="list-unstyled">
					<li>Email: info&#64;pneucon.com</li>
					<li>Phone: +1 234 567 890</li>
					<li>Address: No:7, Toh Guan Rd East #06-03, Alpha Industrial Building, Singapore-608599</li>
				</ul>
			</div>
		</div>
		<div class="text-center mt-3">
			<small>&copy; 2025 Pneucon Engineering Pte Ltd. All rights reserved.</small>
		</div>
	</div>
</footer>
