
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid custom-navbar-bg p-3">
    <div class="d-flex align-items-center justify-content-between w-100">
      <span class="navbar-brand pneucon-title">Pneucon</span>
      <ul class="navbar-nav nav-center mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-underline" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-underline" href="#about-us">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-underline" href="#service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-underline" href="#footer">Footer</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>